<h1 data-controller="heart" data-heart-board = "<%= @board.id %>">
  看板<%= @board.title %>
  <%= link_to "我的最愛", favorite_board_path(@board), method: 'post'  %>
  <button data-action="click->heart#favorite">
    <i class="far fa-heart" data-target="heart.heart"></i>
  </button>
</h1>
<div>
[版主:<%=display_bm(@board) %>]
</div>
<p>看板描述：<%= @board.intro %></p>



<% @post.each do |post| %>
  <ul>
    <li>
      <%= post.display_username %>
      <%= link_to post.title,post_path(post) %>
      <%= link_to '編輯',edit_post_path(post) %>
      <%= link_to '刪除',post_path(post),method:'delete',data: {confirm: '確定刪除文章嗎?'}%>
    </li>
  </ul>
<% end %>
<%= link_to '新增文章',new_board_post_path(@board) %>